table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto 50px auto;
    width: auto;
}

th, td {
    padding: 10px 15px;
    width: auto;
    border: 1px solid black;
}

th {
    font-size: 20px;
}

td {
    font-size: 16px;
}

tbody button {
    padding: 5px;
    font-size: 16px;
    color: white;
    border-style: none;
}

#ordDetlBtn {
    background-color: blue;
}

#ordCancelBtn {
    background-color: red;
}